<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar">
      <ul class="link-container">
          <li>
              <a th:href="@{/}" href="index.html">Home</a>
          </li>
          <li>
              <a th:href="@{/games}" href="games.html">Upcoming Games</a>
          </li>
          <li>
              <a th:href="@{/players}" href="players.html">Player Information</a>
          </li>
      </ul>
</nav>
</body>
</html>