* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav, footer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    padding: 2vh 5vw;
}

.link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}



.main-background {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: no-repeat url("../img/court-bg.jpg") rgba(128, 128, 128, 0.39) center;
    background-size: cover;
    flex-grow: 1;
}

.games-background {
    background: no-repeat url("../img/court3.jpg") center;
    background-size: cover;
    background-blend-mode: soft-light;
    width: 100vw;
    flex-grow:1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.players-background {
    background: no-repeat url("../img/lbj.jpg");
    background-size: cover;
    background-blend-mode: lighten;
    width: 100vw;
    flex-grow:1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.flex-body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.container {
    width: 60%;
    height: auto;
    border-radius: 25px;
    background: white;
    margin: 5vh auto;
    padding: 2vh 2vw;
}

.d-flex {
    display: flex;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

td {
    text-align: center;
}

.hero-container {
    text-align: center;
    margin-top: 5%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.82);
    padding: 10px 5px;
}

h1 {
    font-weight: 700;
    color: #fa3535;
}

h3{
    color: #5185f5;
}
.table-titles > * {
    font-weight: bold;
}

#player-name {
    width:100%;
}


.styled-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.styled-table td, .styled-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.styled-table tr:nth-child(even){background-color: #f2f2f2;}

.styled-table tr:hover {background-color: #ddd;}

.styled-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}