<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Upcoming Games</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="flex-body">
<nav th:replace="/partials/navbar::navbar"></nav>
<main class="games-background">
<table class="container flex-centered">
    <tr class="table-titles">
        <td>DATE</td>
        <td>TIME</td>
        <td>HOME TEAM</td>
        <td>VISITOR TEAM</td>
    </tr>
    <tr th:each="game : ${games}">
        <td th:text="${game.getDate()}"></td>
        <td th:text="${game.getStatus()}"></td>
        <td th:text="${game.getHome_team_name()}"></td>
        <td th:text="${game.getVisitor_team_name()}"></td>
    </tr>
</table>
</main>
</body>
<footer th:replace="/partials/footer::footer"></footer>
</html>